{
  "credentials":{
    "sysadmin" : {
      "username" : "",
      "password" : ""
    },
    "standardUser" : {
      "username" : "",
      "password" : ""
    }

  },
  "url" : "https://app.schoology.com/login",
    "timeout" : {
      "explicit" : 30000
    }
}